<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/style/style.css">
    
</head>
<body>
  <div class="cool">
 <% if (typeof error !== 'undefined' && error) { %>
  <p style="color: #ff4d4d; text-align: center; margin-bottom: 15px;">
    <%= error %>
  </p>
<% } %>

<form action="/update" method="POST" class="create" style="max-width: 400px; margin: auto; display: flex; flex-direction: column; gap: 10px;">
<h1 class="h1">Update your Book</h1>
  <input type="hidden" name="id" value="<%= book.id %>">
<input type="text" name="title" value="<%= book.title %>">
<input type="text" name="author" value="<%= book.author %>">
<input type="number" name="rating" value="<%= book.rating %>">
<input type="date" name="date_read" value="<%= book.date_read.toISOString().split('T')[0] %>">
<input type="text" name="isbn" value="<%= book.isbn %>">
<textarea name="notes"><%= book.notes %></textarea>


  
  <button type="submit"  class="btn" style="padding: 8px; background: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer;">
    Update Book
  </button>
</form>
  </div>

</body>
</html>